<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Effort:</strong>
  <%= @task.effort %>
</p>

<p>
  <strong>Job:</strong>
  <%= @task.job.name %>
</p>

<p>
  <strong>Completion:</strong>
  <%= if @task.complete
        "Complete"
      else
        "Incomplete"
      end %>
</p>

<p>
  <strong>Hours Worked:</strong>
  <%= @task.hours_worked %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
